<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (fornecedor(); as fornecedorRef) {
      <div>
        <h2 data-cy="fornecedorDetailsHeading"><span>Fornecedor</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Código</span></dt>
          <dd>
            <span>{{ fornecedorRef.id }}</span>
          </dd>
          <dt><span>Nome</span></dt>
          <dd>
            <span>{{ fornecedorRef.nome }}</span>
          </dd>
          <dt><span>Cnpj</span></dt>
          <dd>
            <span>{{ fornecedorRef.cnpj }}</span>
          </dd>
          <dt><span>Telefone</span></dt>
          <dd>
            <span>{{ fornecedorRef.telefone }}</span>
          </dd>
          <dt><span>Cep</span></dt>
          <dd>
            <span>{{ fornecedorRef.cep }}</span>
          </dd>
          <dt><span>Endereco</span></dt>
          <dd>
            <span>{{ fornecedorRef.endereco }}</span>
          </dd>
          <dt><span>Bairro</span></dt>
          <dd>
            <span>{{ fornecedorRef.bairro }}</span>
          </dd>
          <dt><span>Cidade</span></dt>
          <dd>
            <span>{{ fornecedorRef.cidade }}</span>
          </dd>
          <dt><span>Numero</span></dt>
          <dd>
            <span>{{ fornecedorRef.numero }}</span>
          </dd>
          <dt><span>Uf</span></dt>
          <dd>
            <span>{{ fornecedorRef.uf }}</span>
          </dd>
          <dt><span>Instituicao</span></dt>
          <dd>
            @if (fornecedor()!.instituicao) {
              <div>
                <a [routerLink]="['/instituicao', fornecedor()!.instituicao?.id, 'view']">{{ fornecedorRef.instituicao?.nome }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Voltar</span>
        </button>

        <button type="button" [routerLink]="['/fornecedor', fornecedorRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Editar</span>
        </button>
      </div>
    }
  </div>
</div>
