<div>
  <h2 id="page-heading" data-cy="CompraVeiculoHeading">
    <span>Compra Veiculos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-compra-veiculo"
        [routerLink]="['/compra-veiculo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Criar novo Compra Veiculo</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (compraVeiculos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Nenhum Compra Veiculo encontrado</span>
    </div>
  }

  @if (compraVeiculos && compraVeiculos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="kmEntrada">
              <div class="d-flex">
                <span>Km Entrada</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valor">
              <div class="d-flex">
                <span>Valor</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorEstimado">
              <div class="d-flex">
                <span>Valor Estimado</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="enderecoCrlv">
              <div class="d-flex">
                <span>Endereco Crlv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cidadeCrlv">
              <div class="d-flex">
                <span>Cidade Crlv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ufCrlv">
              <div class="d-flex">
                <span>Uf Crlv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cpfCrlv">
              <div class="d-flex">
                <span>Cpf Crlv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataCompra">
              <div class="d-flex">
                <span>Data Compra</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="condicaoPagamento">
              <div class="d-flex">
                <span>Condicao Pagamento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorPago">
              <div class="d-flex">
                <span>Valor Pago</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="instituicao.nome">
              <div class="d-flex">
                <span>Instituicao</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="veiculo.placa">
              <div class="d-flex">
                <span>Veiculo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="filial.nome">
              <div class="d-flex">
                <span>Filial</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (compraVeiculo of compraVeiculos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/compra-veiculo', compraVeiculo.id, 'view']">{{ compraVeiculo.id }}</a>
              </td>
              <td>{{ compraVeiculo.kmEntrada }}</td>
              <td>{{ compraVeiculo.valor }}</td>
              <td>{{ compraVeiculo.valorEstimado }}</td>
              <td>{{ compraVeiculo.enderecoCrlv }}</td>
              <td>{{ compraVeiculo.cidadeCrlv }}</td>
              <td>{{ compraVeiculo.ufCrlv }}</td>
              <td>{{ compraVeiculo.cpfCrlv }}</td>
              <td>{{ compraVeiculo.dataCompra | formatMediumDate }}</td>
              <td>{{ compraVeiculo.condicaoPagamento }}</td>
              <td>{{ compraVeiculo.valorPago }}</td>
              <td>
                @if (compraVeiculo.instituicao) {
                  <div>
                    <a [routerLink]="['/instituicao', compraVeiculo.instituicao.id, 'view']">{{ compraVeiculo.instituicao.nome }}</a>
                  </div>
                }
              </td>
              <td>
                @if (compraVeiculo.veiculo) {
                  <div>
                    <a [routerLink]="['/veiculo', compraVeiculo.veiculo.id, 'view']">{{ compraVeiculo.veiculo.placa }}</a>
                  </div>
                }
              </td>
              <td>
                @if (compraVeiculo.filial) {
                  <div>
                    <a [routerLink]="['/filial', compraVeiculo.filial.id, 'view']">{{ compraVeiculo.filial.nome }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/compra-veiculo', compraVeiculo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Visualizar</span>
                  </a>

                  <a [routerLink]="['/compra-veiculo', compraVeiculo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(compraVeiculo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (compraVeiculos && compraVeiculos.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
