<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-status-documento-heading" data-cy="StatusDocumentoCreateUpdateHeading">Criar ou editar Status Documento</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let instituicaoIdRef = editForm.get('instituicaoId')!;
        <div class="mb-3">
          <label class="form-label" for="field_instituicaoId">Instituicao Id</label>
          <input
            type="text"
            class="form-control"
            name="instituicaoId"
            id="field_instituicaoId"
            data-cy="instituicaoId"
            formControlName="instituicaoId"
          />
          @if (instituicaoIdRef.invalid && (instituicaoIdRef.dirty || instituicaoIdRef.touched)) {
            <div>
              @if (editForm.get('instituicaoId')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
